langchain
langchain-openai
langchain-community
langgraph
pillow
python-dotenv
tqdm
fastapi
uvicorn[standard]
gunicorn
langchain-neo4j
neo4j
PyMuPDF
pymupdf4llm
neo4j-graphrag
pandas
apscheduler
httpx
pyyaml