langchain
langchain-openai
langchain-community
langchain-experimental
langgraph
pillow
python-dotenv
tqdm
fastapi
uvicorn[standard]
gunicorn
langchain-neo4j
neo4j
PyMuPDF
pandas
apscheduler

# kg_builder pipeline
docling
httpx
pyyaml
networkx
python-igraph
leidenalg